<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<h1>Puissance 4</h1>
<p>Ici faire la grille</p>
 <table>
    <tbody>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td ></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td ></td><td ></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td class = "red"></td><td ></td><td ></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td class = "red"></td><td ></td><td ></td><td></td><td></td><td></td><td></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
