<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puissance 4</title>
  <link href="../static/style.css" rel="stylesheet">
</head>
<body>
  <h1>Puissance 4</h1>
  <h2>{{.CurrentPlayer}}, Tour {{.Tour}}</h2>
  <form action="/action" method="POST">
    <table>
      <thead>
        <tr>
          {{range $i, $_ := index .Board 0}}
            <td><button type="submit" name="column" value="{{$i}}"><img src="../img/fleche_bas.png" alt="fleche vers  le bas"></button></td>
          {{end}}
        </tr>
      </thead>
      <tbody>
        {{range .Board}}
          <tr>
            {{range .}}
              <td class="{{.}}"></td>
            {{end}}
          </tr>
        {{end}}
     </tbody>
   </table>
  </form>
  <form action="/action" method="POST">
    <input type="hidden" name="Reset" value="true">
    <button class="res" type="submit" name="Reset">Reset</button>
  </form>
</body>
</html>
