body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  text-align: center;
}

button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 30px;
  line-height: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

button::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    transition: background 0.3s ease;
}

button:hover::after{
    background: rgba(0,0,0,0.2);
}

button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}



table {
  margin: auto;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

td.red {
  background-color: rgb(0, 255, 242);
  border-radius: 50%;
}

td.jaune {
  background-color: red;
  border-radius: 50%;
}
