body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  text-align: center;
}

.arrow_row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 30px;
  line-height: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

button::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    transition: background 0.3s ease;
}

button:hover::after{
    background: rgba(0,0,0,0.2);
}

button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}



table {
  margin: auto;
  border-collapse: collapse;
}

td {
  width: 65px;
  height: 65px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 50%;
}

.red{
    background-color: red;
}

.jaune{
    background-color: yellow;
}