body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  text-align: center;
}

button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 30px;
  line-height: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

button::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    transition: background 0.3s ease;
}

button:hover::after{
    background: rgba(0,0,0,0.2);
}

button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 50%;
}

.Rouge {
  background-color: red;
  border-radius: 50%;
}

.Jaune {
  background-color: rgb(190, 190, 1);
  border-radius: 50%;
}

.Res {
  width: 100px;
  cursor: pointer;
  border: #fff;
  background-color: #f0f0f0;
  font-size: 25px;
}